@charset "UTF-8";

/* 滚动条 */

/* 滚动条整体部分,必须要设置 */
::-webkit-scrollbar {
  width: 8px !important;
  height: 0 !important;
}

/* 滚动条的轨道 */
::-webkit-scrollbar-track {
  background-color: var(--art-gray-200);
}

/* 滚动条的滑块按钮 */
::-webkit-scrollbar-thumb {
  background-color: #ccc !important;
  border-radius: 5px;
  transition: all 0.2s;
  transition: all 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #b0abab !important;
}

/* 滚动条的上下两端的按钮 */
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

.dark {
  ::-webkit-scrollbar-track {
    background-color: var(--default-bg-color);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--art-gray-300) !important;
  }
}

/* 抑制 ResizeObserver 循环完成警告 */
.resize-observer {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none;
}
