// Element Plus 组件样式补充
// 来自 el-ui.scss 的组件优化样式

// 优化 el-form-item 标签高度
.el-form-item__label {
  height: var(--el-component-custom-height) !important;
  line-height: var(--el-component-custom-height) !important;
}

// 日期选择器
.el-date-range-picker {
  --el-datepicker-inrange-bg-color: var(--art-gray-200) !important;
}

// el-card 背景色跟系统背景色保持一致
html.dark .el-card {
  --el-card-bg-color: var(--default-box-color) !important;
}

// 修改 el-pagination 大小
.el-pagination--default {
  & {
    --el-pagination-button-width: 32px !important;
    --el-pagination-button-height: var(--el-pagination-button-width) !important;
  }

  @media (width <= 1180px) {
    & {
      --el-pagination-button-width: 28px !important;
    }
  }

  .el-select--default .el-select__wrapper {
    min-height: var(--el-pagination-button-width) !important;
  }

  .el-pagination__jump .el-input {
    height: var(--el-pagination-button-width) !important;
  }
}

.el-pager li {
  padding: 0 10px !important;
}

// 优化菜单折叠展开动画
.el-menu.el-menu--inline {
  transition: max-height 0.26s cubic-bezier(0.4, 0, 0.2, 1) !important;
}

// 优化菜单 item hover 动画
.el-sub-menu__title,
.el-menu-item {
  transition: background-color 0s !important;
}

// 修改 el-size=default 组件默认高度
.el-button--default {
  height: var(--el-component-custom-height) !important;
}

.el-button--default.is-circle {
  width: var(--el-component-custom-height) !important;
}

.el-select--default {
  .el-select__wrapper {
    min-height: var(--el-component-custom-height) !important;
  }
}

.el-checkbox-button--default .el-checkbox-button__inner,
.el-radio-button--default .el-radio-button__inner {
  padding: 10px 15px !important;
}

.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li {
  border-radius: 6px;
}

.el-popover {
  min-width: 80px;
  border-radius: var(--el-border-radius-small) !important;
}

.el-dialog {
  overflow: hidden;
  border-radius: calc(var(--custom-radius) / 1.2 + 2px) !important;
}

.el-dialog__header {
  .el-dialog__title {
    font-size: 16px;
  }
}

.el-dialog__body {
  position: relative;
  padding: 25px 0 !important;
}

.el-dialog.el-dialog-border {
  .el-dialog__body {
    &::before,
    &::after {
      position: absolute;
      left: -16px;
      width: calc(100% + 32px);
      height: 1px;
      content: '';
      background-color: var(--art-gray-300);
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }
}

// el-message 样式优化
.el-message {
  background-color: var(--default-box-color) !important;
  border: 0 !important;
  box-shadow:
    0 6px 16px 0 rgb(0 0 0 / 8%),
    0 3px 6px -4px rgb(0 0 0 / 12%),
    0 9px 28px 8px rgb(0 0 0 / 5%) !important;

  p {
    font-size: 13px;
  }
}

// 修改 el-dropdown 样式
.el-dropdown-menu {
  padding: 6px !important;
  border: none !important;
  border-radius: 10px !important;

  .el-dropdown-menu__item {
    padding: 6px 16px !important;
    border-radius: 6px !important;

    &:hover:not(.is-disabled) {
      color: var(--art-gray-900) !important;
      background-color: var(--art-el-active-color) !important;
    }

    &:focus:not(.is-disabled) {
      color: var(--art-gray-900) !important;
      background-color: var(--art-gray-200) !important;
    }
  }
}

.el-select__popper,
.el-dropdown__popper {
  margin-top: -6px !important;

  .el-popper__arrow {
    display: none;
  }
}

.el-dropdown-selfdefine:focus {
  outline: none !important;
}

// 移动端组件兼容性
@media screen and (width <= 640px) {
  .el-message-box,
  .el-message,
  .el-dialog {
    width: calc(100% - 24px) !important;
  }

  .el-date-picker.has-sidebar.has-time {
    left: 12px !important;
    width: calc(100% - 24px);
  }

  .el-picker-panel *[slot='sidebar'],
  .el-picker-panel__sidebar {
    display: none;
  }

  .el-picker-panel *[slot='sidebar'] + .el-picker-panel__body,
  .el-picker-panel__sidebar + .el-picker-panel__body {
    margin-left: 0;
  }
}

// 修改 el-button 样式
.el-button {
  &.el-button--text {
    padding: 0 !important;
    background-color: transparent !important;

    span {
      margin-left: 0 !important;
    }
  }
}

// 修改 el-tag 样式
.el-tag {
  font-weight: 500;
  transition: all 0s !important;

  &.el-tag--default {
    height: 26px !important;
  }
}

.el-checkbox-group {
  &.el-table-filter__checkbox-group label.el-checkbox {
    height: 17px !important;

    .el-checkbox__label {
      font-weight: 400 !important;
    }
  }
}

.el-radio--default {
  .el-radio__input {
    .el-radio__inner {
      width: 16px;
      height: 16px;

      &::after {
        width: 6px;
        height: 6px;
      }
    }
  }
}

.el-checkbox {
  .el-checkbox__inner {
    border-radius: 2px !important;
  }
}

.el-checkbox--default {
  .el-checkbox__inner {
    width: 16px !important;
    height: 16px !important;
    border-radius: 4px !important;

    &::before {
      top: 5px !important;
      height: 4px !important;
      content: '';
      background-color: #fff !important;
      transform: scale(0.6) !important;
    }
  }

  .is-checked {
    .el-checkbox__inner {
      &::after {
        width: 3px;
        height: 8px;
        margin: auto;
        border: 2px solid var(--el-checkbox-checked-icon-color);
        border-top: 0;
        border-left: 0;
        transform: translate(-45%, -60%) rotate(45deg) scale(0.86) !important;
        transform-origin: center;
      }
    }
  }
}

.el-notification .el-notification__icon {
  font-size: 22px !important;
}

.el-message-box__headerbtn .el-message-box__close,
.el-dialog__headerbtn .el-dialog__close {
  top: 7px;
  right: 7px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  transition: all 0.3s;

  &:hover {
    color: var(--art-gray-900) !important;
    background-color: var(--art-hover-color) !important;
  }
}

.el-message-box {
  padding: 25px 20px !important;
}

.el-message-box__title {
  font-weight: 500 !important;
}

.el-table__column-filter-trigger i {
  margin: -3px 0 0 2px;
  color: var(--theme-color) !important;
}

.el-tooltip__trigger:focus-visible {
  outline: unset;
}

// ipad 表单右侧按钮优化
@media screen and (width <= 1180px) {
  .el-table-fixed-column--right {
    padding-right: 0 !important;

    .el-button {
      margin: 5px 10px 5px 0 !important;
    }
  }
}

.login-out-dialog {
  padding: 30px 20px !important;
  border-radius: 10px !important;
}

// 修改 el-select 样式
.el-select__popper:not(.el-tree-select__popper) {
  .el-select-dropdown__list {
    padding: 5px !important;

    .el-select-dropdown__item {
      height: 34px !important;
      line-height: 34px !important;
      border-radius: 6px !important;

      &.is-selected {
        margin-bottom: 4px !important;
        font-weight: 400 !important;
        color: var(--art-gray-900) !important;
        background-color: var(--art-el-active-color) !important;
      }

      &:hover {
        background-color: var(--art-hover-color) !important;
      }
    }

    .el-select-dropdown__item:hover ~ .is-selected,
    .el-select-dropdown__item.is-selected:has(~ .el-select-dropdown__item:hover) {
      background-color: transparent !important;
    }
  }
}

.el-tree-select__popper {
  .el-select-dropdown__list {
    padding: 5px !important;

    .el-tree-node {
      .el-tree-node__content {
        height: 36px !important;
        border-radius: 6px !important;

        &:hover {
          background-color: var(--art-gray-200) !important;
        }
      }
    }
  }
}

.el-button > span {
  position: relative;
  z-index: 10;
}

.el-color-picker__color {
  border-radius: 2px !important;
}

.el-picker-panel {
  .el-picker-panel__footer {
    border-radius: 0 0 var(--el-border-radius-base) var(--el-border-radius-base);
  }
}

.el-tree-node__content {
  padding: 1px 0;
  margin-bottom: 4px;
  border-radius: 4px;

  &:hover {
    background-color: var(--art-hover-color) !important;
  }
}

.dark {
  .el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
    background-color: var(--art-gray-300) !important;
  }
}

.menu-left-popper:focus-within,
.horizontal-menu-popper:focus-within {
  outline: none !important;
  box-shadow: none !important;
}

.el-input-number--default.is-controls-right {
  .el-input-number__decrease,
  .el-input-number__increase {
    height: calc((var(--el-component-size) / 2)) !important;
  }
}

.el-dialog__body {
  padding: 16px !important;
}
