@use './var.scss' as *;
@use './util.scss' as *;

.el-input,
.el-textarea,
.el-select,
.el-range-editor {
  @include set-ele-var('input', $ele);
  @include set-ele-var('input-error', $ele);
}

.el-input--small,
.el-select--small {
  @include set-ele-var('input-sm', $ele);
}

.el-input--large,
.el-select--large {
  @include set-ele-var('input-lg', $ele);
}

.el-textarea {
  @include set-ele-var('textarea', $ele);
}

.el-textarea.el-input--small {
  @include set-ele-var('textarea-sm', $ele);
}

.el-textarea.el-input--large {
  @include set-ele-var('textarea-lg', $ele);
}

.el-input .el-input__wrapper,
.el-textarea .el-textarea__inner,
.el-select .el-select__wrapper,
.el-date-editor.el-range-editor.el-input__wrapper {
  position: relative;
  box-sizing: border-box;
  gap: 0;
  padding: 0 eleVar('input', 'padding-right') 0 eleVar('input', 'padding-left');
  background: eleVar('input', 'bg');
  border: eleVar('input', 'border');
  border-radius: eleVar('input', 'radius');
  box-shadow: none;
  transition: all $transition-base;
}

.el-textarea .el-textarea__inner {
  min-height: elVar('component-size') !important;
  padding-top: eleVar('textarea', 'padding-top');
  padding-bottom: eleVar('textarea', 'padding-bottom');
}

/* Hover */
.el-input .el-input__wrapper:hover,
.el-textarea .el-textarea__inner:hover,
.el-select:not(.el-select--disabled):hover .el-input .el-input__wrapper,
.el-select .el-select__wrapper:not(.is-disabled):hover,
.el-select .el-select__wrapper:not(.is-disabled).is-hovering,
.el-cascader:not(.is-disabled):hover .el-input .el-input__wrapper,
.el-range-editor.el-input__wrapper:not(.is-disabled):hover,
body .el-input-number:not(.is-disabled):hover .el-input .el-input__wrapper {
  background: eleVar('input', 'hover-bg');
  border: eleVar('input', 'hover-border');
  box-shadow: eleVar('input', 'hover-shadow');
}

/* Focus */
.el-input .el-input__wrapper.is-focus,
.el-textarea .el-textarea__inner:focus,
.el-select .el-select__wrapper:not(.is-disabled).is-focused,
.el-cascader .el-input.el-input--suffix .el-input__wrapper.is-focus,
.el-cascader .el-input.el-input--suffix.is-focus .el-input__wrapper,
.el-range-editor.el-input__wrapper.is-active:not(.is-disabled),
body .el-input-number:not(.is-disabled) .el-input .el-input__wrapper.is-focus {
  background: eleVar('input', 'focus-bg');
  border: eleVar('input', 'focus-border');
  box-shadow: eleVar('input', 'focus-shadow');
}

/* 层级 */
.el-input .el-input__wrapper:hover,
.el-input .el-input__wrapper.is-focus {
  z-index: 2;
}

.el-select .el-select__tags,
.el-cascader .el-cascader__tags,
.el-input-number .el-input-number__increase,
.el-input-number .el-input-number__decrease {
  z-index: 3;
}

/* 字数统计 */
.el-input .el-input__wrapper .el-input__count {
  margin-left: eleVar('input', 'icon-space');
  font-size: eleVar('input', 'count-size');
  line-height: normal;
  color: eleVar('input', 'count-color');

  .el-input__count-inner {
    padding: 0;
  }
}

/* 图标 */
.el-input .el-input__wrapper .el-input__icon,
.el-select .el-input .el-input__wrapper .el-select__icon,
.el-select .el-select__wrapper .el-select__icon,
.el-range-editor .el-input__icon.el-range__icon,
.el-range-editor .el-input__icon.el-range__close-icon,
.el-input .el-input__wrapper .el-input__prefix-icon {
  height: 1em;
  font-size: eleVar('input', 'icon-size');
  color: eleVar('input', 'icon-color');
  transition: all $transition-base;
}

.el-input .el-input__prefix-inner .el-input__icon,
.el-select .el-input__prefix-inner .el-select__icon,
.el-range-editor .el-input__icon.el-range__icon,
.el-input .el-input__prefix-inner > div {
  margin-right: eleVar('input', 'icon-space');
}

.el-input .el-input__suffix-inner .el-input__icon,
.el-select .el-input__suffix-inner .el-select__icon {
  margin-left: eleVar('input', 'icon-space');
}

.el-select .el-select__suffix {
  gap: 0;
}

/* 密码图标 */
.el-input .el-input__wrapper .el-input__password {
  margin: eleVar('input', 'eye-margin');

  &:hover {
    color: eleVar('input', 'icon-hover-color');
  }
}

/* 清空图标 */
.el-input .el-input__wrapper .el-input__clear,
.el-select .el-input .el-select__caret,
.el-select .el-select__wrapper .el-select__caret,
.el-cascader .el-input__icon.icon-circle-close,
.el-cascader .el-input__icon.icon-arrow-down,
.el-date-editor .el-input__icon.clear-icon,
.el-range-editor .el-input__icon.el-range__close-icon {
  margin: eleVar('input', 'clear-margin');
}

.el-input .el-input__wrapper .el-input__clear,
.el-cascader .el-input__icon.icon-circle-close,
.el-date-editor .el-input__icon.clear-icon,
.el-range-editor .el-input__icon.el-range__close-icon {
  color: eleVar('input', 'clear-color');

  &:hover {
    color: eleVar('input', 'clear-hover-color');
  }
}

/* 表单验证状态图标 */
.el-input .el-input__wrapper .el-input__validateIcon,
.el-select .el-select__wrapper .el-input__validateIcon {
  margin: eleVar('input', 'status-margin');
  color: eleVar('input', 'status-color');
}

.el-input .el-input__clear + .el-input__validateIcon,
.el-input__icon.icon-circle-close + .el-input__validateIcon,
.el-input__icon.clear-icon + .el-input__validateIcon {
  display: none;
}

.el-input__validateIcon > svg > path {
  #{'d'}: path($icon-validate-path);

  &:last-child {
    fill: none;
    #{'d'}: path('');
  }
}

/* 清空图标和验证失败图标修改 */
.el-input__clear > svg > path,
.el-input__icon.icon-circle-close > svg > path,
.el-input__icon.clear-icon > svg > path,
.el-input__icon.el-range__close-icon > svg > path,
.el-form-item.is-error .el-input__validateIcon > svg > path {
  #{'d'}: path($icon-clear-path);

  &:last-child {
    fill: none;
    #{'d'}: path('');
  }
}

/* 下拉的箭头图标修改 */
.el-select__caret,
.el-input__icon.icon-arrow-down {
  & > svg > path {
    fill: none;
    stroke: currentcolor;
    stroke-width: 84;
    stroke-linecap: round;
    transition: (d $transition-base, fill $transition-base);
    #{'d'}: path('M216 362L512 662L808 362');
  }

  &.is-reverse > svg > path {
    #{'d'}: path('M216 662L512 362L808 662');
  }
}

.el-select .el-input .el-input__wrapper .el-select__caret.is-reverse,
.el-select .el-select__wrapper .el-select__caret.is-reverse,
.el-cascader .el-input .el-input__icon.icon-arrow-down.is-reverse {
  transform: none;
}

/* 下拉的清空图标修改 */
.el-select__caret {
  & > svg > path[d^='m466'] {
    fill: eleVar('input', 'clear-color');
    stroke: none;
    #{'d'}: path($icon-clear-path);
  }

  & > svg > path + path {
    fill: none;
    #{'d'}: path('');
  }

  &:hover > svg > path[d^='m466'] {
    fill: eleVar('input', 'clear-hover-color');
  }
}

/* 组合 */
.el-input {
  &.el-input-group--prepend > .el-input__wrapper {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &.el-input-group--append > .el-input__wrapper {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .el-input-group__prepend,
  .el-input-group__append {
    box-sizing: border-box;
    flex-shrink: 0;
    padding: eleVar('input', 'extra-padding');
    line-height: eleVar('input', 'extra-line-height');
    color: eleVar('input', 'extra-color');
    background: eleVar('input', 'extra-bg');
    border: eleVar('input', 'border');
    border-radius: eleVar('input', 'radius');
    box-shadow: none;

    & > .el-button,
    & > .el-select {
      margin: eleVar('input', 'extra-preset-margin');
    }
  }

  .el-input-group__prepend {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .el-input-group__append {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.el-input.el-input-group.el-input-group--prepend > .el-input-group__prepend,
.el-input.el-input-group.el-input-group--append > .el-input-group__append {
  & > .el-select > .select-trigger > .el-input > .el-input__wrapper,
  & > .el-select > .el-select__wrapper {
    background: none;
    border-color: transparent;
    box-shadow: none !important;
  }
}

.el-input-group__prepend,
.el-input-group__append {
  & > .el-select .el-input__validateIcon {
    display: none;
  }
}

/* 禁用 */
body .el-input.is-disabled .el-input__wrapper,
body .el-textarea.is-disabled .el-textarea__inner,
body .el-select.el-select--disabled .el-input.is-disabled .el-input__wrapper,
.el-select .el-select__wrapper.is-disabled,
.el-select .el-select__wrapper.is-disabled:hover,
.el-select .el-select__wrapper.is-disabled.is-hovering,
.el-date-editor.el-range-editor.is-disabled.el-input__wrapper {
  cursor: not-allowed;
  background: eleVar('input', 'disabled-bg');
  border: eleVar('input', 'disabled-border');
  box-shadow: none;
}

.el-input.is-disabled .el-input__wrapper .el-input__inner,
body .el-textarea.is-disabled .el-textarea__inner,
.el-select__wrapper.is-disabled .el-select__placeholder,
.el-range-editor.is-disabled.el-input__wrapper input {
  color: eleVar('input', 'disabled-color');
  -webkit-text-fill-color: eleVar('input', 'disabled-color');
}

/* 小尺寸 */
.el-input.el-input--small .el-input__wrapper,
.el-textarea.el-input--small .el-textarea__inner,
.el-select.el-select--small .el-select__wrapper {
  gap: 0;
  padding: 0 eleVar('input-sm', 'padding-right') 0 eleVar('input-sm', 'padding-left');
}

/* 大尺寸 */
.el-input.el-input--large .el-input__wrapper,
.el-textarea.el-input--large .el-textarea__inner,
.el-select.el-select--large .el-select__wrapper {
  gap: 0;
  padding: 0 eleVar('input-lg', 'padding-right') 0 eleVar('input-lg', 'padding-left');
}

/* Textarea */
body .el-textarea .el-input__count {
  right: eleVar('textarea', 'count-right');
  bottom: eleVar('textarea', 'count-bottom');
  box-sizing: border-box;
  padding: eleVar('textarea', 'count-padding');
  font-size: eleVar('input', 'count-size');
  line-height: normal;
  color: eleVar('input', 'count-color');
  background: eleVar('textarea', 'count-bg');
}

.el-textarea.el-input--small .el-textarea__inner {
  min-height: elVar('component-size', 'small') !important;
  padding-top: eleVar('textarea-sm', 'padding-top');
  padding-bottom: eleVar('textarea-sm', 'padding-bottom');
}

.el-textarea.el-input--large .el-textarea__inner {
  min-height: elVar('component-size', 'large') !important;
  padding-top: eleVar('textarea-lg', 'padding-top');
  padding-bottom: eleVar('textarea-lg', 'padding-bottom');
}

/* Select */
.el-select .el-input .el-input__wrapper.is-focus,
.el-select .el-input.el-input--suffix.is-focus .el-input__wrapper {
  background: eleVar('input', 'focus-bg');
  border: eleVar('input', 'focus-border');
  box-shadow: eleVar('input', 'focus-shadow') !important;
}

/* Cascader */
.el-cascader .el-input .el-input__wrapper .el-input__suffix .el-input__icon {
  height: 1em;
}

/* DatePicker */
.el-range-editor.is-disabled.el-input__wrapper input {
  background: none;
}

/* InputNumber */
.el-input-number {
  .el-input-number__increase,
  .el-input-number__decrease {
    top: 0.8px;
    bottom: 0.8px;
    width: elVar('component-size');
    transition: color $transition-base;
  }

  .el-input-number__increase {
    right: 0.8px;
  }

  .el-input-number__decrease {
    left: 0.8px;
  }

  &.is-controls-right .el-input__inner {
    text-align: left;
  }
}

body .el-input-number.is-controls-right {
  .el-input-number__increase {
    bottom: auto;
  }

  .el-input-number__decrease {
    top: auto;
    right: 0.8px;
    left: auto;
  }
}

body .el-input-number .el-input .el-input__wrapper {
  padding: 0 calc(
    #{elVar('component-size')} + #{eleVar('input', 'icon-space')}
  ) 0 eleVar('input', 'padding-left');
}

.el-input-number.el-input-number--small {
  .el-input-number__increase,
  .el-input-number__decrease {
    width: elVar('component-size', 'small');
  }

  .el-input .el-input__wrapper {
    padding-right: calc(
      #{elVar('component-size', 'small')} + #{eleVar('input', 'icon-space')}
    );
    padding-left: eleVar('input-sm', 'padding-left');
  }
}

.el-input-number.el-input-number--large {
  .el-input-number__increase,
  .el-input-number__decrease {
    width: elVar('component-size', 'large');
  }

  .el-input .el-input__wrapper {
    padding-right: calc(
      #{elVar('component-size', 'large')} + #{eleVar('input', 'icon-space')}
    );
    padding-left: eleVar('input-lg', 'padding-left');
  }
}

.el-input-number:not(.is-controls-right) .el-input .el-input__wrapper {
  padding-left: calc(
    #{elVar('component-size')} + #{eleVar('input', 'icon-space')}
  );
}

.el-input-number--small:not(.is-controls-right) .el-input .el-input__wrapper {
  padding-left: calc(
    #{elVar('component-size', 'small')} + #{eleVar('input', 'icon-space')}
  );
}

.el-input-number--large:not(.is-controls-right) .el-input .el-input__wrapper {
  padding-left: calc(
    #{elVar('component-size', 'large')} + #{eleVar('input', 'icon-space')}
  );
}

body .el-input-number.is-disabled .el-input-number__increase,
body .el-input-number.is-disabled .el-input-number__decrease {
  color: elVar('disabled', 'text-color');
  border-color: elVar('disabled', 'border-color');

  &:hover {
    color: elVar('disabled', 'text-color');
  }
}

/* 表单验证 */
.el-form-item.is-error {
  .el-input .el-input__wrapper,
  .el-textarea .el-textarea__inner,
  .el-select .select-trigger .el-input .el-input__wrapper,
  .el-select .el-select__wrapper,
  .el-cascader .el-input .el-input__wrapper,
  .el-range-editor.el-input__wrapper,
  .el-input-number .el-input:not(.is-disabled) .el-input__wrapper {
    background: eleVar('input-error', 'bg');
    border: eleVar('input-error', 'border');
    box-shadow: none;
  }

  .el-input .el-input__wrapper:hover,
  .el-textarea .el-textarea__inner:hover,
  .el-select .select-trigger .el-input .el-input__wrapper:hover,
  .el-select .el-select__wrapper:hover,
  .el-select .el-select__wrapper.is-hovering,
  .el-cascader .el-input .el-input__wrapper:hover,
  .el-range-editor.el-input__wrapper:hover,
  .el-input-number:hover .el-input .el-input__wrapper {
    background: eleVar('input-error', 'hover-bg');
    border: eleVar('input-error', 'hover-border');
    box-shadow: eleVar('input-error', 'hover-shadow');
  }

  .el-input .el-input__wrapper.is-focus,
  .el-select .select-trigger .el-input.is-focus .el-input__wrapper,
  .el-select .el-select__wrapper.is-focused,
  .el-cascader .select-trigger .el-input.is-focus .el-input__wrapper {
    background: eleVar('input-error', 'focus-bg');
    border: eleVar('input-error', 'focus-border');
    box-shadow: eleVar('input-error', 'focus-shadow') !important;
  }

  .el-textarea .el-textarea__inner:focus,
  .el-range-editor.el-input__wrapper.is-active,
  .el-input-number .el-input .el-input__wrapper.is-focus {
    background: eleVar('input-error', 'focus-bg');
    border: eleVar('input-error', 'focus-border');
    box-shadow: eleVar('input-error', 'focus-shadow');
  }

  .el-input.is-disabled .el-input__wrapper,
  .el-textarea.is-disabled .el-textarea__inner,
  .el-select .select-trigger .el-input.is-disabled .el-input__wrapper,
  .el-select .el-select__wrapper.is-disabled,
  .el-cascader .el-input.is-disabled .el-input__wrapper,
  .el-range-editor.el-input__wrapper.is-disabled,
  .el-input-number.is-disabled .el-input .el-input__wrapper {
    background: eleVar('input-error', 'disabled-bg');
    border: eleVar('input-error', 'disabled-border');
    box-shadow: none;
  }

  .el-input__validateIcon {
    color: eleVar('input-error', 'status-color');
  }
}
