@use './var.scss' as *;
@use './util.scss' as *;

.el-notification {
  @include set-ele-var('notification', $ele);
}

body .el-notification {
  width: eleVar('notification', 'width');
  max-width: calc(100vw - 48px);
  padding: eleVar('notification', 'padding');
  border: eleVar('notification', 'border');
  border-radius: eleVar('notification', 'radius');
  box-shadow: eleVar('notification', 'shadow');

  .el-notification__icon {
    width: eleVar('notification', 'icon-size');
    height: eleVar('notification', 'icon-size');
    margin: eleVar('notification', 'icon-margin');
    font-size: eleVar('notification', 'icon-size');
  }
}

.el-notification .el-notification__icon.el-notification--info {
  color: elVar('color-primary');
}

.el-notification .el-notification__group {
  margin: 0;

  .el-notification__closeBtn {
    top: 0;
    right: 0;
    width: eleVar('notification', 'close-size');
    height: eleVar('notification', 'close-size');
    margin: eleVar('notification', 'close-margin');
    font-size: eleVar('notification', 'close-font-size');
    line-height: eleVar('notification', 'close-size');
    color: eleVar('notification', 'close-color');
    border-radius: eleVar('notification', 'close-radius');
    transition: (color $transition-base, background-color $transition-base);

    &:hover {
      color: eleVar('notification', 'close-hover-color');
      background: eleVar('notification', 'close-hover-bg');
    }
  }

  .el-notification__title {
    box-sizing: border-box;
    padding: eleVar('notification', 'title-padding');
    font-size: eleVar('notification', 'title-size');
    font-weight: eleVar('notification', 'title-font-weight');
    line-height: eleVar('notification', 'title-line-height');
    color: eleVar('notification', 'title-color');
  }

  .el-notification__content {
    margin-top: eleVar('notification', 'body-margin');
    font-size: eleVar('notification', 'size');
    line-height: inherit;
    color: eleVar('notification', 'color');
    text-align: left;
  }
}
