@use './var.scss' as *;
@use './util.scss' as *;


body .el-tree {
  background: none;
}

.el-tree {
   @include set-ele-var('tree', $ele);

  .el-tree-node {
    box-sizing: border-box;
    padding-top: eleVar('tree', 'item-margin');
  }

  & > .el-tree-node:first-child {
    padding-top: 0;
  }

  .el-tree-node__content {
    box-sizing: border-box;
    height: eleVar('tree', 'item-height');
    padding: eleVar('tree', 'item-padding');
    border-radius: eleVar('tree', 'item-radius');
    transition: (color $transition-base, background-color $transition-base);

    & > .el-tree-node__expand-icon {
      z-index: 4;
      box-sizing: border-box;
      flex-shrink: 0;
      width: auto;
      height: auto;
      padding: eleVar('tree', 'expand-padding');
      margin: eleVar('tree', 'expand-margin');
      font-size: eleVar('tree', 'expand-size');
      border-radius: eleVar('tree', 'expand-radius');
      transform: none;
      transition: background-color $transition-base;

      & > svg {
        transition: transform 0.3s;
      }

      &.expanded > svg {
        transform: rotate(90deg);
      }

      &:hover {
        background: eleVar('tree', 'expand-hover-bg');
      }

      &.is-leaf {
        pointer-events: none;
      }
    }

    & > .el-checkbox {
      flex-shrink: 0;
    }

    & > .el-tree-node__label {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: eleVar('tree', 'item-line-height');
      word-break: break-all;
      white-space: nowrap;
      transition: color $transition-base;
    }
  }

  &.el-tree--highlight-current {
    .el-tree-node.is-current > .el-tree-node__content {
      background: eleVar('tree', 'item-active-bg');

      .el-tree-node__label {
        font-weight: eleVar('tree', 'item-active-weight');
        color: eleVar('tree', 'item-active-color');
      }

      &:hover {
        background: eleVar('tree', 'item-active-hover-bg');
      }
    }
  }

  /* TreeV2 */
  .el-vl__wrapper {
    box-sizing: border-box;

    & > .el-virtual-scrollbar {
      margin: auto 0;
    }

    .el-tree-node {
      padding-top: 0;
      padding-bottom: eleVar('tree', 'item-margin');
    }

    .el-tree-node__content {
      height: 100% !important;
    }
  }
}
