@use './var.scss' as *;
@use './util.scss' as *;

.el-tree-select__popper {
  @include set-ele-var('tree-select', $ele);

  .el-select-dropdown__wrap .el-select-dropdown__list {
    padding: eleVar('tree-select', 'padding') !important;
    margin: 0 !important;
  }

  .el-tree {
    background: none;
  }

  .el-tree-node__content {
    position: relative;
    z-index: 0;

    .el-select-dropdown__item {
      position: static;
      height: auto;
      padding: 0;
      line-height: eleVar('tree', 'item-line-height');
      border-radius: 0;

      &::before {
        position: absolute;
        inset: 0;
        z-index: -1;
        content: '';
        border-radius: eleVar('tree', 'item-radius');
        transition: background-color $transition-base;
      }
    }

    & > .el-checkbox,
    & > .el-checkbox + .el-tree-node__loading-icon {
      & + .el-select-dropdown__item::before {
        display: none;
      }
    }

    &:has(> .el-select-dropdown__item.is-disabled) {
      cursor: not-allowed;
    }
  }

  .el-tree .el-tree-node > .el-tree-node__content .el-select-dropdown__item {
    font-weight: normal;
    color: inherit;
  }

  /* 选中 */
  .el-tree-node > .el-tree-node__content {
    .el-select-dropdown__item.selected,
    .el-select-dropdown__item.is-selected {
      font-weight: eleVar('tree', 'item-active-weight');
      color: eleVar('tree', 'item-active-color');

      &::before {
        background: eleVar('tree', 'item-active-bg');
      }
    }

    &:hover .el-select-dropdown__item.selected::before,
    &:hover .el-select-dropdown__item.is-selected::before {
      background: eleVar('tree', 'item-active-hover-bg');
    }
  }

  /* 有复选框时去掉文本选中效果 */
  .el-tree-node > .el-tree-node__content > .el-checkbox,
  .el-tree-node__content > .el-checkbox + .el-tree-node__loading-icon {
    & + .el-select-dropdown__item {
      font-weight: normal;
      color: inherit;
    }
  }

  /* 有复选框时去掉右侧选中图标 */
  .el-tree-node.is-checked > .el-tree-node__content {
    & > .el-select-dropdown__item.is-selected::after {
      display: none;
    }
  }

  /* 禁用 */
  .el-tree-node > .el-tree-node__content .el-select-dropdown__item.is-disabled {
    color: eleVar('tree-select', 'item-disabled-color');

    &::before {
      display: none;
    }
  }

  /* 行点击高亮时去掉模拟背景的伪元素 */
  .el-tree--highlight-current .el-tree-node.is-current {
    & > .el-tree-node__content .el-select-dropdown__item::before {
      display: none;
    }
  }
}
